Name: EvilScheme
Author: Lorenzo Pane
Maintainer: Lorenzo Pane
Description: Manage default browser, navigation app, package manager, and more!
Package: net.pane.l.evilscheme
Depends: mobilesubstrate,preferenceloader,firmware (>= 13.0)
Replaces: com.lpane.browserdefault,com.lpane.googlemapsdefault
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.2.4
